* {
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
body {
  /* width: 100%; */
  color: #2a5c46;
  /* height: 100vh; */
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden
}
.background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  background-attachment: fixed;
}

/** Header Styles  */
.header {
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color: #e6f3e0;
  height: 230px;
  width: 100vw;
  box-shadow: 0px 10.9826px 10.4564px rgba(0, 0, 0, 0.12);
}
.headerTop {
  margin: 0px;
  background-color: #fffeee;
  height: 175px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10.9826px 10.4564px rgba(0, 0, 0, 0.12);
}
.spacingContainer {
  display: block;
  width: 75px;
}
.ourLogoImage {
  box-sizing: content-box;
  display: flex;
  max-height: 175px;
}
.headerUserControlsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 30px;
  align-items: flex-start;
}
.userControlsLoginLink {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #e6f3e0;
  color: #3D8161;
  border-radius: 2px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 67px;
  height: 28px;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}
.headerNavBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  margin-left: 0px;
  margin-top: 15px;
}

/** Add to cart styles  */
.addToCartContainer {
  bottom: 0;
  margin-left: 10px;
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
  align-items: center;
}
.quantityDropdown {
  width: 42px;
  border: 1px solid #8dd2b1;
  background-color: #f0f7ed;
  border-radius: 2px;
  height: 30px;
}
.addToCartButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #3D8161;
  color: #ecf9fb;
  border-radius: 2px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 45px;
  height: 29px;
  font-size: 15px;
  font-weight: 250;
  margin-left: 5px;
  margin-right: 30px;
}
.addToCartUserMessage{
  font-size: 11px;
  font-weight: 200;
  margin-Left: 10px;
  color:#4a4f5f;
}

/** Dropdown styles */
.menus {
  display: flex;
  margin-bottom: 0;
  font-size: 0px;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.menu-items {
  position: relative;
  font-size: 15px;
  color: #2a5c46;
  padding: 0;
  margin: 0;
  transition: opacity 0.2s ease-in-out;
}
.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}
.menu-items>a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}
.menu-items:hover {
  text-decoration: underline;
}
.dropdown {
  position: absolute;
  left: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  /* margin: 0.125rem 0 0; */
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #e6f3e0;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  /* border-radius: 0.25rem; */
}
.dropdown.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s ease-in-out;
}
.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-toggle:hover {
  cursor: pointer;
}
.dropdown-toggle+.dropdown {
  display: none;
}
.dropdown-toggle:hover+.dropdown {
  display: block;
}
.dropdown {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.dropdown.show {
  opacity: 1;
}

/** Products Pages */
.products-page {
  padding: 20px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.product {
  border: 1px solid #ddd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  position: relative;
}
.product:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.product img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.product-details {
  height: 75px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-name {
  position: absolute;
  font-size: 18px;
  margin: 0 0 10px;
}
.product-price {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/** single product page */
.product-details-page {
  padding: 20px;
}
.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-image-container {
  width: 50%;
  margin-right: 20px;
  height: 500px;
  overflow: hidden;
}
.product-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.product-info-container {
  width: 50%;
}
.product-title {
  font-size: 35px;
  font-weight: 400;
}
.product-description {
  font-size: 18px;
  margin-bottom: 10px;
}
.product-inventory,
.product-price,
.product-subcategory {
  font-size: 18px;
  margin: 0 5px 10px;
}
input[type="text"],
textarea {
  /* width: 50%; */
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f0f7ed;
  border-radius: 2px;
  height: 30px;
}
.edit-field {
  margin-bottom: 20px;
}
.edit-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.edit-field select {
  padding: 0.5rem;
  border: 1px solid #8dd2b1;
  background-color: #f0f7ed;
  border-radius: 2px;
}
.edit-actions {
  margin-bottom: 0.5em;
}
.btn-save {
  margin-right: 10px;
}
.btn-edit {
  margin-bottom: 0.5em;
}
.btn-save,
.btn-edit,
.btn-cancel {
  border: none;
  /* padding-bottom: ; */
  cursor: pointer;
  background-color: #3D8161;
  color: #ecf9fb;
  border-radius: 2px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 29px;
  font-size: 15px;
  font-weight: 250;
}

/** Login/Register Styles */
.logIn_signUp_container {
  display: flex;
  width: 400px;
  height: auto;
  flex-direction: column;
  color: dark;
  text-justify: center;
  align-items: center;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23vh;
  box-shadow: 0px 2.9826px 7.4564px rgba(0, 0, 0, 0.3);
}
.logIn_signUp_Title {
  margin-top: 30px;
}
label {
  font-size: small;
  color: #4a4f5f;
}
.logIn_signUp_entry {
  margin-bottom: 20px;
  width: 200px;
  border: 1px solid #ccc;
  background-color: #f0f7ed;
  height: 28px;
}
.signUp_Link {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
}
.logIn_signUp_submitButton {
  display: flex;
  background-color: #3D8161;
  border: 1px solid #3D8161;
  color: #ecf9fb;
  text-decoration: none;
  width: 75px;
  height: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 250;
  border-radius: 2px;
}
.logInErrorMessage{
  color: #da190b;
}

/** Footer Styles */
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e6f3e0;
  height: 80px;
  border-top: 1px solid #fffeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacingContainer {
  width: 75px;
}
.logoImage {
  max-height: 125px;
}
.footerBottom {
  width: 100%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80px;
}
.footerNavBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.menus {
  display: flex;
  margin-bottom: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.footer .menus li {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 600;
}
.menus li a {
  color: #2a5c46;
  text-decoration: none;
}
.copy {
  font-size: 14px;
  color: #2a5c46;
}

/** Cart Styles */
.editCartControlsContainer {
  display: flex;
  flex-direction: row;
}
.editCartButtons {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #3D8161;
  color: #e6f3e0;
  border-radius: 2px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 72px;
  height: 30px;
  font-size: 12px;
  font-weight: 300;
  margin-left: 5px
}

/** Admin Page */
.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-page-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  /* set max-width as desired */
  margin-top: 2rem;
  /* add some margin between products and filters */
}
.admin-page-subtitle, .admin-page-title{
  margin-top: 1.5em;
  font-size: 30px;
}
.admin-page .filter-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.admin-page-filter-label {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.admin-page-filter-select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  background-color: #f0f7ed;
}
.admin-page-product {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1rem;
  flex-basis: calc(33.33% - 1rem);
  margin-bottom: 2rem;
  margin-right: 1rem;
}
.admin-page .product h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.admin-page .product p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/** Create New Product */
.create-product-container {
  display: flex;
  justify-content: flex-start;
}
.create-product-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 2px;
  }
.create-product-label {
  font-size: 18px;
  margin-bottom: 0.5rem;
  text-align: left;
}
.create-product-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  text-align: left;
}
input[type="number"],
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f0f7ed;
  border-radius: 2px;
  height: 30px;
  text-align: left;
}
.create-product-select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  background-color: #f0f7ed;
  text-align: left;
}
.create-product-button {
  background-color: #3D8161;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}
.create-product-buttons {
  border-radius: 2px;
  display: flex;
  width: 200px;
  margin-top: 0px;
}
.create-product-cancel-button,
.create-product-submit-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #3D8161;
  color: #e6f3e0;
  border-radius: 2px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 72px;
  height: 30px;
  font-size: 14px;
  font-weight: 300;
  margin-left: 5px
}
.success-message{
  margin: 10px 0 0 10px;
}
.create-product-submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/** Products List */
.btn-delete {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
}
.btn-delete:hover {
  background-color: #da190b;
}

/* Search */
