
body {
  width: 100%;
  color:#2a5c46;
  height: 100vh;
  display: flex;
  font-family:Arial, Helvetica, sans-serif ;
  flex-direction: column;
  margin: 0;

  padding-left: 0; padding-right: 0;
  overflow-x: hidden
}

 /* Header Styles  */
 .header {
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color :#e6f3e0;
  height: 225px;
  width: 100vw;
  box-shadow: 0px 10.9826px 10.4564px rgba(0, 0, 0, 0.2)
}
.headerTop{
  margin: 0px;
  background-color :#fffeee;
  height: 175px;
  display: flex;
  justify-content: space-between;

}


/* .headerNavBarContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
} */

.navBarLink {
  color: #1D561A;
  text-decoration: none;
  font-size: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: 300;
}

.headerUserControlsContainer{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: flex-end;
}
.userControlsLoginLinkLeft{
  background-color:#3D8161;
  color: #ecf9fb;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 65px;
  height: 32px;
  font-size: 13px;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 5px;
}
.userControlsLoginLinkRight{
  background-color:#3D8161;
  color: #ecf9fb;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50px;
  height: 32px;
  font-size: 15px;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 30px;
}
.logoImage {
  display: flex;
  max-height: 175px;
  margin-right: 30px;
}


/* dropdown */

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
  padding: 0;
  margin: 0;
  transition: opacity 0.2s ease-in-out;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.dropdown {
  position: absolute;
  left: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s ease-in-out;
}


.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-toggle:hover {
  cursor: pointer;
}

.dropdown-toggle + .dropdown {
  display: none;
}

.dropdown-toggle:hover + .dropdown {
  display: block;
}

